.lookup_table { 
    width: 950px; 
    padding: 0; 
    margin: 0; 
}

caption { 
    padding: 0 0 5px 0; 
    width: 950px;      
    font: italic 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    text-align:center; 
} 
table{
    border-left: 1px solid #3399FF; 
}
th { 
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    /*color: #4f6b72; */
    border-right: 1px solid #3399FF; 
    border-bottom: 1px solid #3399FF; 
    border-top: 1px solid #3399FF; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-align:center; 
    /*padding: 6px 6px 6px 12px; */
    background: #3399FF ; 
}

td { 
    border-right: 1px solid #3399FF; 
    border-bottom: 1px solid #3399FF; 
    background: #fff; 
    font-size:12px; 
    text-align:center;
    padding: 6px 6px 6px 12px; 
    /*color: #4f6b72; */
}


td.alt { 
    background: #F5FAFA; 
    /*color: #C5DDBC; */
}

tr.alt td{background:#3399FF;}

